<div *ngIf="product.payload" class="card" style="width: 15rem">
  <img src="{{ product.payload.imageUrl }}" class="card-img-top" />
  <div class="card-body">
    <h5 class="card-title">{{ product.payload.title }}</h5>
    <p class="card-text">{{ product.payload.price | currency }}</p>
  </div>
  <div class="card-footer" style="padding: 0">
    <button
      *ngIf="showActions"
      class="btn btn-primary btn-block"
      (click)="addToCart(product)"
    >
      Add to Cart
    </button>
    <div>{{ getQuantity() }}</div>
  </div>
</div>
